.root {
    margin: 8px;
}

.paper {
    padding: 16px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.file-input {
    width: 97%;
    margin: 10px 0;
}

.button-submit {
    margin-bottom: 10px;
}